.greeting {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  min-height: 100vh;
}

.greeting__txt {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 80vh;
  min-width: 550px;
  text-align: center;
}
.greeting__txt__name {
  font-size: 6rem;
  display: flex;
  flex-wrap: wrap;
  color: linear-gradient(45deg, #c1fdc9 0%,#90f9c4 50%,#57f5a1 100%)
}

.myImg {
  width: 400px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.greeting__img {
  margin-top: 15vh;
  display: block;
}

.greenball {
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  top: 15%;
  height: 100px;
  width: 100px;
  background-color: #6bca6c;
}

.greenball-1 {
  transform: scale(120%) translate(15px, 200px);
}
.greenball-2 {
  transform: translate(11vw, 1vh);
  z-index: -1;
}
.greenball-3 {
  transform: translate(16vw, 35vh) scale(150%);
}
.greenball-4 {
  transform: translate(-50vw, -1vh) scale(180%);
}
