:root {
  --balls-size-multiplier: 1;
}

.greeting {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  min-height: 100vh;
}

.greeting__txt {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 80vh;
  min-width: 550px;
  text-align: center;
}
.greeting__txt__name {
  z-index: 2;
  font-size: 6rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: linear-gradient(45deg, #c1fdc9 0%,#90f9c4 50%,#57f5a1 100%)
}
.greeting__txt__desc {
  z-index: 2;
  font-size: 2rem;
}

.myImg {
  width: 400px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.greeting__img {
  margin-top: 15vh;
  display: block;
}

.greenball {
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  top: 15%;
  height: 100px;
  width: 100px;
  background-color: #6bca6c;
}

.greenball-1 {
  top: 40%;
  left: 47%;
  transform: scale(calc(100% * var(--balls-size-multiplier)));
  z-index: -1;
}
.greenball-2 {
  top: 15%;
  left: 50%;
  transform: scale(calc(100% * var(--balls-size-multiplier)));
  z-index: -1;
}
.greenball-3 {
  top: 57%;
  left: 70%;
  transform: scale(calc(150% * var(--balls-size-multiplier)));
}
.greenball-4 {
  left: -4%;
  top: 5%;
  transform: scale(calc(180% * var(--balls-size-multiplier)));
}
.greenball-5 {
  z-index: -1;
  left: -19%;
  top: 85%;
  transform: scale(calc(200% * var(--balls-size-multiplier)));
}

@media screen and (max-width: 1265px) {
  html {
    font-size: 10px;
  }
  .myImg {
    max-width: 420px;
  }
}

@media screen and (max-width: 1040px) {
  :root {
    --balls-size-multiplier: 0.6;
  }
}

@media screen and (max-width: 965px) {
  html {
    font-size: 7px;
  }

  .greeting {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    min-height: 0;
    height: 100vh;
    width: 100%;
    min-width: 100%;
  }
  .greeting__img {
    margin-top: 7vh;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .greeting__img > img {
    width: 90vw;
  }
  .greeting__txt {
    height: min-content;
  }
  .greeting__txt__name {
    margin: 10px;
  }
}

@media screen and (min-width: 451px) {
  :root {
    --balls-size-multiplier: 0.8;
  }
  .greenball-5 {
    left: -12%;
  }
}

@media screen and (min-width: 631px) {
  :root {
    --balls-size-multiplier: 1;
  }
}

@media screen and (min-width: 965px) {
  .greenball-3 {
    top: 70%;
    left: 88%;
  }
  .greenball-1 {
    top: 55%;
    left: 56%;
  }
  .greenball-2 {
    top: 23%;
    left: 77%;
  }
  .greenball-5 {
    left: -5%;
  }
  .greenball-4 {
    left: 1%;
  }
}

@media screen and (min-width: 1266px) {
  :root {
    --balls-size-multiplier: 1.2;
  }
}