@font-face {
  font-family: 'PixeloidSansBold';
  src: url('font/PixeloidSans-Bold.ttf');
}

@font-face {
  font-family: 'PixeloidSans';
  src: url('font/PixeloidSans.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  background-color: rgb(32, 32, 32);
}

h1, h2 {
  font-family: 'PixeloidSansBold';
}

p {
  font-family: 'PixeloidSans';
}