@font-face {
  font-family: 'RajdhaniBold';
  src: url('font/Rajdhani-Bold.ttf');
}

@font-face {
  font-family: 'Rajdhani';
  src: url('font/Rajdhani-Regular.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body {
  min-width: 100%;
  min-height: 100vh;
  background-color: #101a42;
}

h1, h2, h3 {
  font-family: 'RajdhaniBold';
}

p {
  font-family: 'Rajdhani';
}

.hidden {
  display: none;
}

.title {
  font-size: 3rem;
  animation-name: title-appear;
  animation-duration: 1s;
}

@keyframes title-appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}